/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

head {
    overflow: hidden;
}

#legend_heading {
    border: 0px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    height: auto;
    width: auto;
    color: dimgray;
}

.legend_hover :hover {
    color: black;
}

#legend {
    position: absolute;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 0px solid #000;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    width: auto;
    border-radius: 2px;
}

#legend h3 {
    margin-top: 0;
}


#legend div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#legend svg {
    vertical-align: middle;
}